In [42]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [79]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [80]:
# Dicionário para renomear as colunas
colunas = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'salario_usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'modo',
    'company_location': 'local_empresa',
    'company_size': 'tamanho_empresa'
}

# Mapeamento para os valores das categorias
mapeamento_experiencia = {
    'EN': 'Junior',
    'MI': 'Pleno',
    'SE': 'Senior',
    'EX': 'Executivo'
}

mapeamento_emprego = {
    'FT': 'Tempo Integral',
    'PT': 'Meio Período',
    'CT': 'Contrato',
    'FL': 'Freelance'
}

mapeamento_tamanho = {
    'S': 'Pequena',
    'M': 'Média',
    'L': 'Grande'
}

# Aplicando as traduções
df_traduzido = df.rename(columns=colunas)
df_traduzido['senioridade'] = df_traduzido['senioridade'].map(mapeamento_experiencia)
df_traduzido['contrato'] = df_traduzido['contrato'].map(mapeamento_emprego)
df_traduzido['tamanho_empresa'] = df_traduzido['tamanho_empresa'].map(mapeamento_tamanho)

# Visualizando o resultado
df_traduzido.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,100,US,Média
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,100,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,0,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,0,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,0,US,Média

In [84]:
# Criando um mapeamento para os nomes dos cargos
mapeamento_cargos = {
    'Data Scientist': 'Cientista de Dados',
    'Data Engineer': 'Engenheiro de Dados',
    'Data Analyst': 'Analista de Dados',
    'Machine Learning Engineer': 'Engenheiro de Machine Learning',
    'Analytics Engineer': 'Engenheiro de Analytics',
    'Solutions Engineer': 'Engenheiro de Soluções',
    'Research Scientist': 'Cientista de Pesquisa',
    'AI Engineer': 'Engenheiro de IA',
    'Data Architect': 'Arquiteto de Dados',
    'Business Intelligence Analyst': 'Analista de Business Intelligence',
    'Data Science Manager': 'Gerente de Ciência de Dados',
    'Data Manager': 'Gerente de Dados',
    'ML Engineer': 'Engenheiro de ML',
    'Engineer': 'Engenheiro',
    'Data Specialist': 'Especialista de Dados',
    'Data Operations Manager': 'Gerente de Operações de Dados',
    'Data Science Consultant': 'Consultor de Ciência de Dados',
    'Data Science Architect': 'Arquiteto de Ciência de Dados',
    'Data Science Engineer': 'Engenheiro de Ciência de Dados',
    'Software Engineer': 'Engenheiro de Software',
    'Data Analytics Manager': 'Gerente de Análise de Dados',
    'Data Analytics Engineer': 'Engenheiro de Análise de Dados',
    'Product Manager': 'Gerente de Produtos'
}

# Aplicando a tradução na coluna 'cargo'
# Usamos replace para substituir apenas os valores mapeados, mantendo os outros como estão
df_traduzido['cargo'] = df_traduzido['cargo'].replace(mapeamento_cargos)

# Exibindo os primeiros registros para conferir
df_traduzido.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Engenheiro de Soluções,214000,USD,214000,US,100,US,Média
1,2025.0,Senior,Tempo Integral,Engenheiro de Soluções,136000,USD,136000,US,100,US,Média
2,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Média
3,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Média
4,2025.0,Junior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Média

In [96]:
# Checando se ainda sobraram registros com 'Data Scientist' escritos de outras formas
df_traduzido['cargo'].str.contains('Data Scientist', case=False).sum()

np.int64(56)

In [95]:
# Checando visualmente os cargos desses 56 registros
df_traduzido[df_traduzido['cargo'].str.contains('Data Scientist', case=False)]

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
6422,2024.0,Pleno,Tempo Integral,AI Data Scientist,34000,USD,34000,IN,100,US,Grande
6423,2024.0,Pleno,Tempo Integral,AI Data Scientist,34000,USD,34000,IN,100,US,Grande
7056,2025.0,Pleno,Tempo Integral,AI Data Scientist,90000,EUR,94736,DE,100,DE,Grande
26312,2025.0,Senior,Tempo Integral,Data Scientist Manager,40000,EUR,42105,GR,100,GR,Pequena
36877,2025.0,Senior,Tempo Integral,Data Scientist Expert,98000,EUR,103157,LV,100,LV,Média
44122,2024.0,Senior,Tempo Integral,AI Data Scientist,150000,EUR,166666,CH,100,IT,Média
44784,2025.0,Pleno,Tempo Integral,AI Data Scientist,200000,USD,200000,US,100,US,Pequena
49520,2025.0,Senior,Tempo Integral,Staff Data Scientist,130000,USD,130000,US,0,US,Média
52457,2025.0,Pleno,Tempo Integral,Data Scientist Associate,70000,USD,70000,US,50,US,Grande
59453,2025.0,Senior,Tempo Integral,AI Data Scientist,100000,EUR,105263,DE,50,DE,Grande
62921,2024.0,Senior,Tempo Integral,Data Scientist Manager,95000,EUR,105555,NL,50,NL,Grande
68800,2024.0,Junior,Tempo Integral,AI Data Scientist,52500,EUR,58333,FR,50,FR,Grande
70060,2024.0,Pleno,Tempo Integral,AI Data Scientist,37000,EUR,41111,IT,50,IT,Grande
71977,2024.0,Pleno,Tempo Integral,AI Data Scientist,87000,CAD,66923,CA,50,CA,Grande
93715,2024.0,Junior,Tempo Integral,AI Data Scientist,2500000,INR,30012,IN,50,AU,Média
93716,2024.0,Senior,Tempo Integral,Data Scientist Lead,6500000,INR,78031,IN,50,IN,Grande
113467,2024.0,Junior,Tempo Integral,AI Data Scientist,60000,USD,60000,US,100,US,Média
118441,2024.0,Senior,Tempo Integral,Lead Data Scientist,95000,EUR,105555,DE,100,DE,Grande
119054,2024.0,Junior,Freelance,Applied Data Scientist,30000,USD,30000,GB,100,GB,Média
123714,2023.0,Senior,Tempo Integral,Marketing Data Scientist,90000,USD,90000,US,50,US,Grande
126196,2023.0,Senior,Tempo Integral,Principal Data Scientist,195000,USD,195000,US,100,US,Grande
126611,2023.0,Junior,Tempo Integral,Applied Data Scientist,27500,EUR,29691,IT,50,IT,Grande
127385,2023.0,Senior,Tempo Integral,Lead Data Scientist,36000,USD,36000,RU,100,RU,Grande
127616,2023.0,Senior,Tempo Integral,Applied Data Scientist,60000,EUR,64781,DE,0,DE,Grande
128017,2023.0,Senior,Tempo Integral,Principal Data Scientist,160000,USD,160000,US,100,US,Grande
128049,2020.0,Senior,Tempo Integral,Staff Data Scientist,164000,USD,164000,US,50,US,Média
129645,2023.0,Senior,Tempo Integral,Principal Data Scientist,80000,EUR,86374,ES,100,ES,Grande
129799,2023.0,Pleno,Tempo Integral,Applied Data Scientist,1700000,INR,20673,IN,100,IN,Grande
129861,2023.0,Senior,Tempo Integral,Applied Data Scientist,100000,AUD,67635,AU,100,FI,Média
130245,2022.0,Senior,Tempo Integral,Lead Data Scientist,164000,EUR,172309,IE,100,IE,Grande
130660,2022.0,Senior,Tempo Integral,Lead Data Scientist,192000,USD,192000,US,100,US,Grande
131183,2023.0,Pleno,Tempo Integral,Applied Data Scientist,80000,USD,80000,KE,100,KE,Pequena
131482,2022.0,Junior,Tempo Integral,Applied Data Scientist,40000,USD,40000,AU,100,PK,Média
131501,2022.0,Senior,Tempo Integral,Lead Data Scientist,4460000,INR,56723,IN,0,IN,Grande
132042,2022.0,Pleno,Tempo Integral,Data Scientist Lead,85000,EUR,89306,AT,50,AT,Grande
132302,2022.0,Senior,Tempo Integral,Lead Data Scientist,156868,USD,156868,US,100,US,Grande
132343,2022.0,Senior,Tempo Integral,Data Scientist Lead,183000,USD,183000,US,100,US,Grande
132560,2022.0,Senior,Tempo Integral,Lead Data Scientist,28500,EUR,29944,PT,50,PT,Pequena
132650,2022.0,Pleno,Tempo Integral,Lead Data Scientist,50000,GBP,61566,GB,50,GB,Pequena
132676,2022.0,Junior,Tempo Integral,Applied Data Scientist,50000,USD,50000,AT,50,AT,Média
133040,2022.0,Pleno,Tempo Integral,Applied Data Scientist,157000,USD,157000,US,100,US,Grande
133079,2022.0,Senior,Tempo Integral,Applied Data Scientist,380000,USD,380000,US,100,US,Grande
133081,2022.0,Senior,Tempo Integral,Applied Data Scientist,177000,USD,177000,US,100,US,Grande
133085,2021.0,Senior,Tempo Integral,Principal Data Scientist,220000,USD,220000,US,0,US,Grande
133094,2022.0,Senior,Tempo Integral,Principal Data Scientist,148000,EUR,155499,DE,100,DE,Média
133100,2021.0,Senior,Tempo Integral,Lead Data Scientist,3000000,INR,40570,IN,50,IN,Grande
133106,2021.0,Junior,Tempo Integral,Applied Data Scientist,80000,GBP,110037,GB,0,GB,Grande
133145,2021.0,Pleno,Tempo Integral,Applied Data Scientist,68000,CAD,54238,GB,50,CA,Grande
133210,2020.0,Pleno,Tempo Integral,Lead Data Scientist,115000,USD,115000,AE,0,AE,Grande
133234,2021.0,Senior,Contrato,Staff Data Scientist,105000,USD,105000,US,100,US,Média
133245,2020.0,Senior,Tempo Integral,Lead Data Scientist,190000,USD,190000,US,100,US,Pequena
133276,2021.0,Executivo,Contrato,Principal Data Scientist,416000,USD,416000,US,100,US,Pequena
133320,2021.0,Senior,Tempo Integral,Principal Data Scientist,147000,EUR,173762,DE,100,DE,Média
133321,2020.0,Senior,Tempo Integral,Principal Data Scientist,130000,EUR,148261,DE,100,DE,Média
133328,2021.0,Senior,Tempo Integral,Principal Data Scientist,235000,USD,235000,US,100,US,Grande
133345,2021.0,Pleno,Tempo Integral,Principal Data Scientist,151000,USD,151000,US,100,US,Grande

Como nenhum deles é puro "Data Scientist", não vamos considerá-los no desafio. Vamos considerar apenas cargos exatamente "Data Scientist", que foram todos traduzidos para "**Cientista de Dados**".

In [101]:
# Analisando quantidade de registros com campos nulos
df_traduzido.isnull().sum()

ano                10
senioridade         0
contrato            0
cargo               0
salario             0
moeda               0
salario_usd         0
residencia          0
modo                0
local_empresa       0
tamanho_empresa     0
dtype: int64

In [102]:
# Confirmando que somente 10 registros estão com campo "ano" nulo.
df_traduzido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133349 non-null  object
 2   contrato         133349 non-null  object
 3   cargo            133349 non-null  object
 4   salario          133349 non-null  int64
 5   moeda            133349 non-null  object
 6   salario_usd      133349 non-null  int64
 7   residencia       133349 non-null  object
 8   modo             133349 non-null  int64
 9   local_empresa    133349 non-null  object
 10  tamanho_empresa  133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [103]:
# Visualizando os regitros com campo "ano" nulo
df_traduzido[df_traduzido['ano'].isnull()]

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
5588,NaN,Senior,Tempo Integral,Gerente de Produtos,184500,USD,184500,US,0,US,Média
59692,NaN,Pleno,Tempo Integral,Engenheiro,110000,USD,110000,DE,0,DE,Média
59710,NaN,Junior,Tempo Integral,Cientista de Dados,208800,USD,208800,US,0,US,Média
59759,NaN,Senior,Tempo Integral,Engenheiro de Software,135000,USD,135000,US,0,US,Média
59789,NaN,Senior,Tempo Integral,Engenheiro,112000,USD,112000,US,0,US,Média
131000,NaN,Senior,Tempo Integral,Engenheiro de Machine Learning,163800,USD,163800,US,0,US,Média
131006,NaN,Senior,Tempo Integral,Gerente de Análise de Dados,204500,USD,204500,US,0,US,Média
133054,NaN,Junior,Tempo Integral,Cientista de Dados,40000,USD,40000,JP,100,MY,Grande
133281,NaN,Pleno,Tempo Integral,Engenheiro de Machine Learning,180000,PLN,46597,PL,100,PL,Grande
133317,NaN,Pleno,Tempo Integral,Cientista de Dados,130000,USD,130000,US,50,US,Grande

In [104]:
# Removendo todos os campos nulos e aproveitando para ajustar os índices
df_limpo = df_traduzido.dropna().reset_index(drop=True)
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133339 entries, 0 to 133338
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   contrato         133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   salario_usd      133339 non-null  int64
 7   residencia       133339 non-null  object
 8   modo             133339 non-null  int64
 9   local_empresa    133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [105]:
# Confirmando se ainda há registros com campos nulos
df_limpo.isnull().sum()

ano                0
senioridade        0
contrato           0
cargo              0
salario            0
moeda              0
salario_usd        0
residencia         0
modo               0
local_empresa      0
tamanho_empresa    0
dtype: int64

In [106]:
df_limpo.isnull().any(axis=1).sum()

np.int64(0)

In [107]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Engenheiro de Soluções,214000,USD,214000,US,100,US,Média
1,2025.0,Senior,Tempo Integral,Engenheiro de Soluções,136000,USD,136000,US,100,US,Média
2,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,158800,USD,158800,AU,0,AU,Média
3,2025.0,Pleno,Tempo Integral,Engenheiro de Dados,139200,USD,139200,AU,0,AU,Média
4,2025.0,Junior,Tempo Integral,Engenheiro de Dados,90000,USD,90000,US,0,US,Média

In [108]:
df_limpo[df_limpo['cargo'] == "Cientista de Dados"]

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
6,2025.0,Senior,Tempo Integral,Cientista de Dados,185000,USD,185000,US,0,US,Média
7,2025.0,Senior,Tempo Integral,Cientista de Dados,148000,USD,148000,US,0,US,Média
8,2025.0,Pleno,Tempo Integral,Cientista de Dados,135000,USD,135000,CA,0,CA,Média
9,2025.0,Pleno,Tempo Integral,Cientista de Dados,108000,USD,108000,CA,0,CA,Média
65,2025.0,Senior,Tempo Integral,Cientista de Dados,258000,USD,258000,US,0,US,Média
...,...,...,...,...,...,...,...,...,...,...,...
133329,2021.0,Senior,Tempo Integral,Cientista de Dados,168000,USD,168000,JP,0,JP,Pequena
133330,2021.0,Pleno,Tempo Integral,Cientista de Dados,160000,SGD,119059,SG,100,IL,Média
133334,2020.0,Senior,Tempo Integral,Cientista de Dados,412000,USD,412000,US,100,US,Grande
133336,2020.0,Junior,Tempo Integral,Cientista de Dados,105000,USD,105000,US,100,US,Pequena
133338,2021.0,Senior,Tempo Integral,Cientista de Dados,7000000,INR,94665,IN,50,IN,Grande

In [111]:
# Obtendo apenas os registros de "Cientista de Dados"
df_limpo_cientdados = df_limpo[df_limpo['cargo'] == "Cientista de Dados"].reset_index(drop=True)
df_limpo_cientdados

,ano,senioridade,contrato,cargo,salario,moeda,salario_usd,residencia,modo,local_empresa,tamanho_empresa
0,2025.0,Senior,Tempo Integral,Cientista de Dados,185000,USD,185000,US,0,US,Média
1,2025.0,Senior,Tempo Integral,Cientista de Dados,148000,USD,148000,US,0,US,Média
2,2025.0,Pleno,Tempo Integral,Cientista de Dados,135000,USD,135000,CA,0,CA,Média
3,2025.0,Pleno,Tempo Integral,Cientista de Dados,108000,USD,108000,CA,0,CA,Média
4,2025.0,Senior,Tempo Integral,Cientista de Dados,258000,USD,258000,US,0,US,Média
...,...,...,...,...,...,...,...,...,...,...,...
17307,2021.0,Senior,Tempo Integral,Cientista de Dados,168000,USD,168000,JP,0,JP,Pequena
17308,2021.0,Pleno,Tempo Integral,Cientista de Dados,160000,SGD,119059,SG,100,IL,Média
17309,2020.0,Senior,Tempo Integral,Cientista de Dados,412000,USD,412000,US,100,US,Grande
17310,2020.0,Junior,Tempo Integral,Cientista de Dados,105000,USD,105000,US,100,US,Pequena
17311,2021.0,Senior,Tempo Integral,Cientista de Dados,7000000,INR,94665,IN,50,IN,Grande

In [113]:
# Agruopando as medias salariais dos Cientistas de Dados por país, da maior para a menor.
media_salario_pais_cd = df_limpo_cientdados.groupby('local_empresa')['salario_usd'].mean().sort_values(ascending=False).reset_index()
media_salario_pais_cd

   local_empresa    salario_usd
0             US  162757.330588
1             SG  158100.000000
2             BG  152500.000000
3             CH  152256.666667
4             EG  140690.909091
5             CA  140597.312977
6             MX  132420.000000
7             NZ  122929.750000
8             JP  121766.666667
9             IL  119059.000000
10            AU  111146.200000
11            CZ  107968.000000
12            IT  107558.727273
13            DZ  100000.000000
14            KR   99272.000000
15            RU   95500.000000
16            FR   93723.103448
17            DE   90450.852459
18            IE   89145.391304
19            PT   88888.250000
20            NO   88462.000000
21            SE   87157.500000
22            GB   86200.064302
23            UA   85000.000000
24            PL   77253.636364
25            BR   71093.000000
26            NL   70070.937500
27            CL   69346.000000
28            BE   66790.750000
29            HK   65058.000000
30            LT   62762.000000
31            LV   61688.500000
32            ID   53416.000000
33            AD   50745.000000
34            AT   50359.101695
35            KE   50000.000000
36            NG   50000.000000
37            EE   47900.333333
38            TR   47542.750000
39            ES   46184.051282
40            ZA   44871.750000
41            FI   43611.000000
42            GR   42096.333333
43            IN   42085.346154
44            LU   41863.000000
45            RO   39992.000000
46            AR   37500.000000
47            SK   30522.400000
48            TH   26957.000000
49            HU   23935.750000
50            TW   17282.500000
51            EC   16000.000000

In [114]:
# Plotando o gráfico de barras da Média Salarial Anual (USD) do cargo de Cientita de Dados por país, usando Plotly
import plotly.express as px

In [115]:
fig = px.bar(
    media_salario_pais_cd,
    x='local_empresa',
    y='salario_usd',
    title='Média Salarial Anual do CIENTISTA DE DADOS por País - Plotly',
    labels={'local_empresa': 'País', 'salario_usd': 'Média Salarial Anual (USD)'},
    color='local_empresa',
    template='plotly_white',
    width=1200,
    height=700
)

fig.show()